build: false

environment:
  matrix:
    - PYTHON: "C:\\Python27"
      PYTHON_VERSION: "2.7"
      TOXENV: "py27"
      APPVEYOR: True
    - PYTHON: "C:\\Python36"
      PYTHON_VERSION: "3.6"
      TOXENV: "py36"
      APPVEYOR: True

init:
  - ECHO %PYTHON%
  - ECHO %TOXENV%
  - SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%

install:
  - python -m pip install --upgrade pip
  - pip install tox==3.7.0

test_script:
  - tox
