*.egg-info
*.pyc
build
dist
tests/venv
run_tests.sh~
tests/data/firefox/tinderbox-builds/mozilla-central-linux/1374568307/firefox-25.0a1.en-US.linux-i686.tar.bz2~
tests/data/firefox/tinderbox-builds/mozilla-central-linux/1374568307/firefox-25.0a1.en-US.linux-i686.txt~
tests/data/firefox/tinderbox-builds/mozilla-central-win32/1374568307/firefox-25.0a1.en-US.win32.installer.exe~
tests/data/firefox/tinderbox-builds/mozilla-central-win32/1374573725/firefox-25.0a1.en-US.win32.installer.exe~
tests/data/firefox/tinderbox-builds/mozilla-inbound-win32/1374568307/firefox-25.0a1.en-US.win32.installer.exe~
tests/data/firefox/tinderbox-builds/mozilla-inbound-win32/1374573725/firefox-25.0a1.en-US.win32.installer.exe~
tests/data/thunderbird/tinderbox-builds/comm-aurora-win32/1380318874/thunderbird-27.0a1.en-US.win32.installer.exe~
tests/data/thunderbird/tinderbox-builds/comm-aurora-win32/1380362527/thunderbird-27.0a1.en-US.win32.installer.exe~
tests/data/thunderbird/tinderbox-builds/comm-central-l10n/thunderbird-27.0a1.de.win32.installer.exe~
tests/data/thunderbird/tinderbox-builds/comm-central-l10n/thunderbird-27.0a1.pt-PT.win32.installer.exe~
tests/data/thunderbird/tinderbox-builds/comm-central-linux/1380318874/thunderbird-27.0a1.en-US.linux-i686.tar.bz2~
tests/data/thunderbird/tinderbox-builds/comm-central-linux/1380318874/thunderbird-27.0a1.en-US.linux-i686.txt~
tests/data/thunderbird/tinderbox-builds/comm-central-linux/1380362527/thunderbird-27.0a1.en-US.linux-i686.tar.bz2~
tests/data/thunderbird/tinderbox-builds/comm-central-linux/1380362527/thunderbird-27.0a1.en-US.linux-i686.txt~
tests/data/thunderbird/tinderbox-builds/comm-central-linux64/1380318874/thunderbird-27.0a1.en-US.linux-x86_64.tar.bz2~
tests/data/thunderbird/tinderbox-builds/comm-central-linux64/1380362527/thunderbird-27.0a1.en-US.linux-x86_64.tar.bz2~
tests/data/thunderbird/tinderbox-builds/comm-central-win32-debug/1380318874/thunderbird-27.0a1.en-US.win32.installer.exe~
tests/data/thunderbird/tinderbox-builds/comm-central-win32-debug/1380362527/thunderbird-27.0a1.en-US.win32.installer.exe~
tests/data/thunderbird/tinderbox-builds/comm-central-win32/1380318874/thunderbird-27.0a1.en-US.win32.installer.exe~
tests/data/thunderbird/tinderbox-builds/comm-central-win32/1380362527/thunderbird-27.0a1.en-US.win32.installer.exe~
tests/data/thunderbird/tinderbox-builds/comm-central-win64/1380318874/thunderbird-27.0a1.en-US.win64-x86_64.installer.exe~
tests/data/thunderbird/tinderbox-builds/comm-central-win64/1380362527/thunderbird-27.0a1.en-US.win64-x86_64.installer.exe~
tests/manifest.ini~
tests/release_candidate_scraper/manifest.ini~

