sudo: false

cache:
    directories:
        - $HOME/.cache/pip

language: python

matrix:
    include:
        - name: "Run test suite on Linux with Python 2.7"
          os: linux
          python: 2.7
          env: TOXENV=py27
        - name: "Run test suite on Linux with Python 3.8"
          os: linux
          python: 3.8
          env: TOXENV=py38
        - name: "Check code style with pylama on Linux - Python 3.8"
          os: linux
          python: 3.8
          env: TOXENV=pylama
          # 10.1 is OS X 10.13.x
          # https://docs.travis-ci.com/user/languages/objective-c/#Supported-OS-X-iOS-SDK-versions
        - name: "Run test suite on OS X with Python 2.7"
          os: osx
          osx_image: xcode10.1
          language: generic
          python: 2.7
          env: TOXENV=py27
        - name: "Run test suite on OS X with Python 3.8"
          os: osx
          osx_image: xcode9.4
          language: generic
          env: TOXENV=py38


install:
    - ./.travis/install.sh

script:
    - tox

notifications:
    email:
        - dev-automation@lists.mozilla.org
    irc:
        - "irc.mozilla.org#automation"
