language: python
python:
  - "2.7"
install:
  - pip install pylama
before_script:
  - "pylama mozdownload"
script: ./run_tests.py
notifications:
  email:
    - dev-automation@lists.mozilla.org
  irc:
    - "irc.mozilla.org#automation"
