language: python
python:
  - 2.7
install:
  - pip install pep8
  - python setup.py develop
before_script:
  - "pep8 mozdownload"
script: ./run_tests.py
notifications:
  email:
    - dev-automation@lists.mozilla.org
  irc:
    - "irc.mozilla.org#automation"
