name: Release

on:
  workflow_run:
    workflows: [ Test ]
    types: [ completed ]
    branches: [ master ]

jobs:
  deploy:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'push' }}
    environment:
      name: release
      url: https://pypi.org/p/mozdownload
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Install dependencies
        run: python -m pip install -U build

      - name: Build a binary wheel and a source tarball
        run: python -m build

      - name: Upload release to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1


